*.pyc
*.pot
*.log
.idea/**
.git/**
app.db
babel.cfg
config.py
flaskd
ssl.crt
ssl.key
tests.py
translate_compile.py
translate_init.py
translate_update.py
/app/static/dist/**
/app/static/css/**
/app/static/js/**
!/app/static/js/custom.js
/app/static/fonts/**
/app/static/images/**
/app/static/favicon.ico
/app/static/production.css
/app/static/production.js
/app/templates/old/**
/app/translations/**
/flask/**
/db_repository/**
/egg/**
/log/**
/node_modules/**
/search.db/**
/temp/**
/tmp/**
/upload/**
