<div id="modal-registration" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <div class="row">
        <div class="large-6 columns auth-plain">
            <div class="signup-panel left-solid">
                <p class="welcome">Authorization</p>
                <a href="/login/fb" class="button">Log in with Facebook</a>
                <a href="/login/vk" class="button">Log in with Vkontakte</a>
            </div>
        </div>

        <div class="large-6 columns auth-plain">
            <div class="signup-panel newusers">
                <p class="welcome">Registration</p>
                <form>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" placeholder="Электронная почта">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fa fa-lock"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fa fa-lock"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" placeholder="Подтверждение пароля">
                        </div>
                    </div>
                </form>
                <a href="#" class="button">Register</a>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal"><i class="fa fa-close"></i></a>
</div>